
body {
    position: relative;
    font-size: 20px;
    font-family: sans-serif;
    color:#333;
    background:linear-gradient(to right top, #65dfc9, #6cdbeb);
    display:flex;
    align-items:center;
    justify-content:center;
    width: 1000px;
}
#countdown {
    float: both;
    text-align: center;
    
    padding: 20px;
}
#quiz {

    
}


.answers {
    
   
}
input[type="radio"]{
    border: 0px;
    width: 100%;
    height: 2em;
}
.question{
    position: relative;
    width:100%;
    font-weight:600; 
}
#submit {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color:#fff;
    border:0px;
    border-radius:3px;
    padding:20px;
    cursor:pointer;
    margin-bottom:20px;
}
#submit:hover{
    background-color:#3a8;
}
#result {
    
    font-size: 80px;
}

#row0 {
    
}