body{
    font-family: "Poppins", sans-serif;
    min-height:100vh;
    background:linear-gradient(to right top, #65dfc9, #6cddeb);
    display:flex;
    align-items:center;
    justify-content: center;
    border-style: solid;
   
}
.welcome_user {
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
    
    border-radius:2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}