body {
    background-color:white;
}
.container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: #1C7DD0;
}
.topleft ul li {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.topright ul li {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    float:right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
#separator1 {
    clear:both
}
.logo {
  float: left;
}
.search_and_cart {
  float: right;
  display:table;
}
.search {
  display: table-cell;
}
#searchthis {
  border-radius: 25px;
}
.cart {
  display: table-cell;
  color:white;
}
.fa-shopping-cart{
  background-color: #164873;
  border-radius: 10rem;
}

.navbar {
  clear:both;
  float:both;
  padding-top: 20px;
    border-radius:30px;
    background-color:#164873;
    padding: 10px;
    
}
.whole_dropdown .dropbtn{
    margin: 0;
    padding: 20px;
    overflow: hidden;
    float: left;
}
.dropbtn {
   background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /*.dropdown:hover .dropbtn {background-color: #3e8e41;} */


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-style: solid;
    border-color: white;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  

/* Product card "books"*/
.featured {
  display: table;
  width: 100%;
  align-items: center;
}
#books {
  display:table-row;
  float:left;
  align-items: center;
}

  .card1 {
    display:table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
   
    
  }
  .card2 {
    display:table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
    
  }
  .card3 {
    display:table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .card4 {
    display:table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    }
  .card5 {
    display:table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border-radius: 30px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#1C7DD0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .star {
    display:inline;
    padding:0px;
    align-items: center;
   
  }
.checked {
    display: inline-block;
    color: orange;
}
/*************  Product card *****/

/*latest*/
.latest {
    clear:both;
    padding: 20px 30px 0px 30px;
}

/************Latest *****/
.latest h3{
  color:#1C7DD0;
}
.latest {
  display:table;
  width: 100%;
}
#row23 {
  display: table-row;
}
#row23 h3 {
  font-size:35px;
}
#row23 ul li {
 font-size: 25px;
 list-style-type:symbols();
}

.nbtindia {
  display: table-cell;
  
}

.new_delhi_world_book{
  display:table-cell;
  
}
.latest_at_ndwbf {
  display: table-cell;
}



/**********************************/

.authorsCorner {
    clear:both;
    padding:30px;
    border-radius: 30px;
    
}

.authorsCorner {
  display: table;
  width: 100%;
  background-color: #f4f4f4;
}
#row2 {
  display: table-row;
}
.seminarhalls{
  display: table-cell;
  padding:30px;
  text-align: center;
  font-size: 30px;
}
.vl1 {
  display: table-cell;
  padding:30px;
  border-left: 10px solid black;
  height: 100px;
}
.vl2 {
  display: table-cell;
  padding:30px;
  border-left: 6px solid black;
  height: 100px;
}
.add2_1{
  display: table-cell;
}
.add2_2 {
  display: table-cell;
}



/*Photo gallery*/

.photoGallery{
    clear:both;
    display:table;
    width: 100%;
  }
  
 
  #row101 h3{
    display: table-row;
    width:800px;
    font-size:20px;
  }
  .photoGallery h4 {
    font-size: 35px;
  color:#1C7DD0;
  }
  .gallery1{
    display: table-cell;
    padding:20px;
    width: inherit;
    
  }
  .gallery2 {
    display: table-cell;
    padding:20px;
    width: inherit;
    
  }
  .gallery3 {
    display: table-cell;
    padding:20px;
    width: inherit;
    
  }
  .gallery4{
    display: table-cell;
    padding:20px;
    width: inherit;
    
  }
  
  
  
  
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/**photo gallery end.*/


.map_and_facebook {
    clear:both;
    padding: 10px 20px 10px 20px;
}
.google_map {
    float:left;
    width:500px
}
.facebook {
    
}
/**email**/
form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
  }
  
  
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  .newsletter {
      clear:both;

      display: table;
      padding: 10px 30px 10px 30px;
  }
  #row_news {
    display: table-row;
  }
  .container_email {
    display:block;
  }
  .email {
    display: table-cell;
    width: 60%;
  }
  .freeshipping {
    display: table-cell;
    width:20%;
    font-size: 30px;
  }
  .save_money {
    display: table-cell;
    width: 20%;
    font-size: 30px;
  }
  
  .footer {

    clear:both;
    background-color: #100B41;
    color:#83809C;
    
  }
  .footer {
    display:table;
    width: 100%;
  }
  #row {
    display: table-row;
  }

  .logo_address {
    display: table-cell;
    padding:10px;
    
  }

  .information{
    display:table-cell;
    
  }
  .withSupportFrom {
    display: table-cell;
  }
  .find_us {
    display: table-cell;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .copy_and_image {
    display:inline-block;
    width: 100%;
  }
  #row7 {
    display: inline-block;
  }

  .copyright {
    float:left;
    display: block;
    
  }

  .footer_images{
    float:right;
    display: block;
   
  }